---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"options":{"allowPartialScopes":true},"query":"\n\tResources\n\t| where type in~ (''microsoft.devcenter/projects'')\n\t| where properties[''provisioningState''] =~ ''Succeeded''\n\t| project id, location, tenantId, name, properties, type\n\t"}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://management.azure.com:443/providers/Microsoft.ResourceGraph/resources?api-version=2021-06-01-preview
        method: POST
      response:
        body: '{"totalRecords":19,"count":19,"data":[{"id":"/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourceGroups/project-12719/providers/Microsoft.DevCenter/projects/VisualStudioClient","location":"westus3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","name":"VisualStudioClient","properties":{"provisioningState":"Succeeded","devCenterUri":"https://72f988bf-86f1-41af-91ab-2d7cd011db47-devcenter-tfotz75rskxty-dc.westus3.devcenter.azure.com/","devCenterId":"/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc"},"type":"microsoft.devcenter/projects"},{"id":"/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourceGroups/project-12719/providers/Microsoft.DevCenter/projects/VSVendors","location":"westus3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","name":"VSVendors","properties":{"provisioningState":"Succeeded","description":"Project for vendors","devCenterUri":"https://72f988bf-86f1-41af-91ab-2d7cd011db47-devcenter-tfotz75rskxty-dc.westus3.devcenter.azure.com/","devCenterId":"/subscriptions/8f22e2e8-b4c1-4f7d-a889-49aec29b9c75/resourceGroups/devcenter-16-25/providers/Microsoft.DevCenter/devcenters/devcenter-tfotz75rskxty-dc"},"type":"microsoft.devcenter/projects"},{"id":"/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourceGroups/project-13636/providers/Microsoft.DevCenter/projects/basic","location":"westus3[...]
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/17c9d6d4-b083-4266-a260-cbcb366a27a4/resourcegroups/project-8974/providers/Microsoft.DevCenter/projects/ServerlessPaaS/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCenter/projects/read","Microsoft.DevCenter/projects/*/read","Microsoft.Authorization/*/read","Microsoft.Resources/subscriptions/resourceGroups/read"],"notActions":[],"dataActions":["Microsoft.DevCenter/projects/users/devboxes/userStop/action","Microsoft.DevCenter/projects/users/devboxes/userStart/action","Microsoft.DevCenter/projects/users/devboxes/userGetRemoteConnection/action","Microsoft.DevCenter/projects/users/devboxes/userRead/action","Microsoft.DevCenter/projects/users/devboxes/userWrite/action","Microsoft.DevCenter/projects/users/devboxes/userDelete/action","Microsoft.DevCenter/projects/users/devboxes/userUpcomingActionRead/action","Microsoft.DevCenter/projects/users/devboxes/userUpcomingActionManage/action","Microsoft.DevCenter/projects/users/devboxes/userActionRead/action","Microsoft.DevCenter/projects/users/devboxes/userActionManage/action","Microsoft.DevCenter/projects/users/devboxes/userCustomize/action"],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 403.8227ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1702e86b-0726-4f19-9ae5-25cad10e4f26/resourcegroups/project-3435/providers/Microsoft.DevCenter/projects/VSCode/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCente[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourcegroups/project-13636/providers/Microsoft.DevCenter/projects/MicroBuild/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.Dev[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/rg-azd-devcenter/providers/Microsoft.DevCenter/projects/Project-2/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notAct[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0f6b8985-2847-41a6-a1be-9ce8c00b369b/resourcegroups/project-13636/providers/Microsoft.DevCenter/projects/basic/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCente[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourcegroups/project-12719/providers/Microsoft.DevCenter/projects/VisualStudioClient/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Micro[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1ba77102-f6a9-4834-93c3-cc42bad6686e/resourcegroups/project-3436/providers/Microsoft.DevCenter/projects/PMUXDesign/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevC[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-demo-test101/providers/Microsoft.DevCenter/projects/dcprj-pv44d74rp44bs/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 480.4225ms
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-devbox-pub/providers/Microsoft.DevCenter/projects/ade-project1/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 483.2781ms
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/0a86e8d0-8c17-4765-90eb-aa50dae47299/resourcegroups/project-12719/providers/Microsoft.DevCenter/projects/VSVendors/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.Dev[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourcegroups/qiaozha-test/providers/Microsoft.DevCenter/projects/jsmgmt/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]},{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11997"
        status: 200 OK
        code: 200
        duration: 500.482ms
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-contoso-ecomm-pe/providers/Microsoft.DevCenter/projects/contoso-ecomm/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 494.8415ms
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/ed99ad84-f5da-479f-81df-23460857ccca/resourcegroups/project-7341/providers/Microsoft.DevCenter/projects/DataAndAI/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevC[...]
[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1603ca8f-8a37-42c0-9e39-26fb03b3cbb6/resourcegroups/project-50/providers/Microsoft.DevCenter/projects/DevDivAzureService/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microso[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/50144203-25d7-4aa0-8c7b-3e0d936b07f0/resourcegroups/rg-devbox-pub/providers/Microsoft.DevCenter/projects/Inventory-Management-Project/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["*"],"notActions":[],"dataActions":[],"notDataActions":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Reads:
                - "11999"
        status: 200 OK
        code: 200
        duration: 553.3243ms
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/1e627736-1411-423a-81c4-aa35ca55f2b3/resourcegroups/project-9387/providers/Microsoft.DevCenter/projects/NuGet/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"actions":["Microsoft.DevCente[...]
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions/16cb61da-05bc-4f08-8bd4-b2cdf51f8035/resourcegroups/project-3429/providers/Microsoft.DevCenter/projects/LanguageAndFrameworkServices/providers/Microsoft.Authorization/permissions?api-version=2022-04-01
        method: GET
      response:
        body: '{"value":[{"action[...]
    - id: 20
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/environmentDefinitions?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": [
                {
                  "id": "/projects/Project-1/catalogs/example/environmentDefinitions/webapp",
                  "name": "WebApp",
                  "catalogName": "Example",
                  "description": "Deploys an Azure Web App without a data store",
                  "parameters": [],
                  "parametersSchema": "{\"type\":\"object\"}",
                  "templatePath": "Environment-Definitions/ARMTemplates/WebApp/azuredeploy.json"
                },
                {
                  "id": "/projects/Project-1/catalogs/example/environmentDefinitions/sandbox",
                  "name": "Sandbox",
                  "catalogName": "Example",
                  "description": "Deploys a sandbox environment",
                  "parameters": [],
                  "parametersSchema": "{\"type\":\"object\"}",
                  "templatePath": "Environment-Definitions/ARMTemplates/Sandbox/azuredeploy.json"
                },
                {
                  "id": "/projects/Project-1/catalogs/wbreza/environmentDefinitions/helloworld",
                  "name": "HelloWorld",
                  "catalogName": "wbreza",
                  "description": "Deploys an Azure App Service within App Service Plan",
                  "parameters": [
                    {
                      "id": "environmentName",
                      "name": "Environment Name",
                      "description": "Name of the environment",
                      "type": "string",
                      "readOnly": false,
                      "required": false
                    },
                    {
                      "id": "repoUrl",
                      "name": "Repository URL",
                      "description": "Path the the application source code",
                      "type": "string",
                      "readOnly": false,
                      "required": false,
                      "allowed": [
                        "https://github.com/wbreza/azd-hello-world"
                      ]
                    }
                  ],
                  "parametersSchema": "{\"type\":\"object\",\"properties\":{\"environmentName\":{\"title\":\"Environment Name\",\"description\":\"Name of the environment\"},\"repoUrl\":{\"title\":\"Repository URL\",\"description\":\"Path the the application source code\",\"enum\":[\"https://github.com/wbreza/azd-hello-world\"]}}}",
                  "templatePath": "EnvironmentDefinitions/HelloWorld/azuredeploy.json"
                },
                {
                  "id": "/projects/Project-1/catalogs/example/environmentDefinitions/function-app-with-cosmos_azd-template",
                  "name": "Function-App-with-Cosmos_AZD-template",
                  "catalogName": "Example",
                  "description": "Deploys an Azure Function App with Cosmos, it is comp[...]
[...]
    - id: 41
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/environments?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": [
                {
                  "name": "azdtest-l0a8901",
                  "environmentType": "Dev",
                  "user": "30511c9d-ba1a-4c7b-b422-5b543da11b3f",
                  "provisioningState": "Failed",
                  "resourceGroupId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-l0a8901",
                  "catalogName": "wbreza",
                  "environmentDefinitionName": "HelloWorld",
                  "error": {
                    "code": "DeploymentFailed",
                    "message": "{/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b/resourceGroups/project-1-azdtest-l0a8901/providers/Microsoft.Web/sites/app-helloworld-4cs5oliugejay: {Error Code: InternalServerError, Error Message: There was an unexpected InternalServerError.  Please try again later.  x-ms-correlation-request-id: d6ae84e5f430f83cd5ac98e6d6d120f4, Error Details: []}}",
                    "details": []
                  },
                  "parameters": {
                    "environmentName": "azdtest-l0a8901",
                    "repoUrl": "https://github.com/wbreza/azd-hello-world"
                  }
                },
                {
                  "name": "azdtest-mc26e0c",
                  "environmentType": "Dev",
                  "user": "30511c9d-ba1a-4c7b-b422-5b543da11b3f",
                  "provisioningState": "Failed",
                  "resourceGroupId": "/subscrip[...]
[...]
    - id: 43
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/environmentTypes?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "value": [
                {
                  "name": "Dev",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                },
                {
                  "name": "Prod",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                },
                {
                  "name": "Test",
                  "deploymentTargetId": "/subscriptions/2cd617ea-1866-46b1-90e3-fffb087ebf9b",
                  "status": "Enabled"
                }
              ]
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "299"
            X-Rate-Limit-Reset:
                - "2024-05-13T16:45:59.1414886Z"
        status: 200 OK
        code: 200
        duration: 273.0434ms
    - id: 44
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/tenants?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","countryCode":"US","displayName":"Microsoft","domains":["drawbridge.com","expresslogic.com","euevents.microsoft.com","nonprofits.microsoft.com","benefits.microsoft.com","forzaesports.com","bons.ai","azmosa.io","fslogix.com","Howdy.ai","Xoxco.com","Botkit.ai","glintinc.com","maquette.ms","tibazdev.microsoft.com","mail.appcenter.ms","Hexadite.com","lobe.ai","appcenter.ms","github.com","gearspop.com","messages.microsoft.com","flipgrid.com","semanticmachines.com","video2brain.com","averesystems.com","initiativegaming.com","mail1.averesystems.com","seaof[...]
    - id: 45
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://management.azure.com:443/subscriptions?api-version=2021-01-01
        method: GET
      response:
        body: '{"value":[{"id":"/subscriptions/52942f45-54fd-4fd9-b730-03d518fedf35","authorizationSource":"RoleBased","managedByTenants":[],"tags":{"C-AI-MG-Placement-Subscription-Level":"2023-09-18"},"subscriptionId":"52942f45-54fd-4fd9-b730-03d518fedf35","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"ES-TAP-TestContent","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/659180e3-5b8c-4831-8632-33a035332736","authorizationSource":"RoleBased","managedByTenants":[],"tags":{"C-AI-MG-Placement-Subscription-Level":"2023-06-15","C-AI-MG-Placement-Service-Level":"2023-06-27"},"subscriptionId":"659180e3-5b8c-4831-8632-33a035332736","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"AzRes-PE-Sandbox","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/b74d5345-100f-408a-a7ca-47abb52ba60d","authorizationSource":"RoleBased","managedByTenants":[{"tenantId":"2f4a9838-26b7-47ee-be60-ccc1fdec5953"}],"subscriptionId":"b74d5345-100f-408a-a7ca-47abb52ba60d","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"DSE EDog","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/0afd1dd7-812a-4e4c-9a3b-a2467d3b5fae","authorizationSource":"RoleBased","managedByTenants":[],"tags":{"AlenTestTagKey1":"tagkey1"},"subscriptionId":"0afd1dd7-812a-4e4c-9a3b-a2467d3b5fae","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"ASMS Internal Subscription ALLLIU","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Public_2014-09-01","quotaId":"EnterpriseAgreement_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/e75c95f3-27b4-410f-a40e-2b9153a807dd","authorizationSource":"RoleBased","managedByTenants":[],"subscriptionId":"e75c95f3-27b4-410f-a40e-2b9153a807dd","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"AEther Dev","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/62e08199-fba5-4847-94f7-ab5c1ab2d5e9","authorizationSource":"RoleBased","managedByTenants":[],"tags":{"IsHostedOnBehalfOf":"False","Env":"NonProd"},"subscriptionId":"62e08199-fba5-4847-94f7-ab5c1ab2d5e9","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"Mixed Reality Zurich","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/a18897a6-7e44-457d-9260-f2854c0aca42","authorizationSource":"RoleBased","managedByTenants":[],"subscriptionId":"a18897a6-7e44-457d-9260-f2854c0aca42","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"Azure SDK Engineering System","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/df969b00-37ba-4874-bb86-1f60b9cea9fc","authorizationSource":"RoleBased","managedByTenants":[],"subscriptionId":"df969b00-37ba-4874-bb86-1f60b9cea9fc","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"FUN-DI-PP-Dev04","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/2f96ae42-240b-4228-bafa-26d8b7b03bf3","authorizationSource":"RoleBased","managedByTenants":[],"tags":{"IsHostedOnBehalfOf":"False","Env":"Prod","ringValue":"r1"},"subscriptionId":"2f96ae42-240b-4228-bafa-26d8b7b03bf3","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"MSFT-CloudMS-CPT-PRD-01","state":"Enabled","subscriptionPolicies":{"locationPlacementId":"Internal_2014-09-01","quotaId":"Internal_2014-09-01","spendingLimit":"Off"}},{"id":"/subscriptions/0f301386-8979-4981-acca-973d553078e7","authorizationSource":"RoleBased","managedByTenants":[{"tenantId":"2f4a9838-26b7-47ee-be60-ccc1fdec5953"}],"subscriptionId":"0f301386-8979-4981-ac[...]
    - id: 46
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/catalogs/wbreza/environmentDefinitions/HelloWorld?api-version=2023-04-01
        method: GET
      response:
        body: |-
          [...]
    - id: 47
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/users/me/environments/azdtest-wc5dc73?api-version=2023-04-01
        method: GET
      response:
        body: |-
            {
              "status": "Failed",
              "error": {
                "code": "EnvironmentNotFound",
                "message": "The environment azdtest-wc5dc73 cannot be found.",
                "details": [],
                "additionalInfo": []
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "298"
            X-Rate-Limit-Reset:
                - "2024-05-13T16:45:57.1213161Z"
        status: 404 Not Found
        code: 404
        duration: 112.499ms
    - id: 48
      request:
            - chunked
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: '{"catalogName":"wbreza","environmentDefinitionName":"HelloWorld","environmentType":"Dev","parameters":{"environmentName":"azdtest-wc5dc73","repoUrl":"https://github.com/wbreza/azd-hello-world"}}'
        form: {}
        headers:
            Authorization:
                - SANITIZED
            Content-Type:
                - application/json
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/Project-1/users/me/environments/azdtest-wc5dc73?api-version=2023-04-01
        method: PUT
      response:
        body: |-
            {
              "name": "azdtest-wc5dc73",
              "environmentType": "Dev",
              "user": "19a2053b-445a-4023-95d3-c339051e0f32",
              "provisioningState": "Creating",
              "catalogName": "wbreza",
              "environmentDefinitionName": "HelloWorld",
              "parameters": {
                "environmentName": "azdtest-wc5dc73",
                "repoUrl": "https://github.com/wbreza/azd-hello-world"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/ec3e2127-a216-4d63-bfd7-245771a02a8f?api-version=2023-04-01&monitor=true
            Operation-Location:
                - https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com/projects/project-1/operationstatuses/ec3e2127-a216-4d63-bfd7-245771a02a8f?api-version=2023-04-01
            X-Rate-Limit-Limit:
                - 1m
            X-Rate-Limit-Remaining:
                - "298"
            X-Rate-Limit-Reset:
                - "2024-05-13T16:45:59.1414886Z"
        status: 201 Created
        code: 201
        duration: 1.4645745s
    - id: 49
      request:
        host: 72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SANITIZED
        url: https://72f988bf-86f1-41af-91ab-2d7cd011db47-dc-azd-o2pst6gaydv5o.eastus2.devcenter.azure.com:443/projects/project-1/operationstatuses/ec3e2127-a216-4d63-bfd7-245771a02a8f?api-version=2023-04-01
        method: GET
[...]
